/* Dark mode styles */
.dark-mode {
    background-color: #1a202c;
    color: #a0aec0;
}

.dark-mode .bg-white {
    background-color: #2d3748;
}

.dark-mode .text-gray-700 {
    color: #a0aec0;
}

.dark-mode .text-gray-500 {
    color: #718096;
}